@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevent default drag image styling */
[draggable="true"] {
  -webkit-user-select: none;
  user-select: none;
}

/* Hide default drag feedback - this is a global style to prevent browser's default drag image */
body {
  -webkit-user-drag: none;
}

/* Re-enable dragging for specific elements */
[draggable="true"] {
  -webkit-user-drag: element;
}
